<!--устанавливает набор символов документа в UTF-8, который является широко используемой кодировкой символов-->
<meta charset="UTF-8">
<!-- связывает HTML-документ с внешней таблицей стилей под названием "style.min.css", расположенной в папке "assets/css".-->
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- Useful meta tags -->
<!-- указывает Internet Explorer использовать последнюю версию своего механизма рендеринга, а не более старую версию. -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- браузеру, как управлять размерами страницы и масштабированием на мобильных устройствах. -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- сообщает браузеру, что ширина видового экрана должна составлять 1140 пикселей. -->
<meta content="width=1140" name="viewport" id="viewport">
<!-- указывает поисковым системам индексировать страницу и переходить по ее ссылкам, а также использовать описание страницы проекта Open Directory, если таковое имеется. -->
<meta name="robots" content="index, follow, noodp">
<!-- индексировать страницу и переходить по ее ссылкам. -->
<meta name="googlebot" content="index, follow">
<!-- указывает Google не предлагать перевод для этой страницы. -->
<meta name="google" content="notranslate">
<!--  говорит мобильным устройствам не связывать автоматически определенные строки номеров как телефонные номера. -->
<meta name="format-detection" content="telephone=no">
<!-- Подключение иконок -->
<link rel="shortcut icon" href="favicon.ico">
<script src="https://kit.fontawesome.com/07c048a61f.js" crossorigin="anonymous"></script>

<title>{{ title }}</title>
